.popup {
    position: fixed;
    top: 0;
    background: rgb(241, 237, 237);
    width: 100vw;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    transition: opacity 0.7s, overflow 0.7s;
    &_active {
        opacity: 1;
        overflow: visible;
        z-index: 5;
    }
}
.popup-container {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgb(90, 229, 160);
    &-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        &__item {
            @include fontStyle(18px, 400, $colorItem, 20px);
        }
    }
}
.button-select {
    @include fontStyle(26px, 500, $colorTitle, 28px);
    cursor: pointer;
    margin: 20px 0 ;
    padding: 10px;
    border: none;
}