$widthPage: 1440px;
$bcgHeader: #cbda96;
$colorTitle: #af5757;
$bcgMain: #86e0a7;
$bcgFooter: #9f3a3a;
$colorItem: #3463a3;
$colorBtn: #101b2a;
$bcgBtn: #c852d5;
$bcgBtnHover: #752d7d;
$bcgItem: #d58952;
$bcgItemHover: #d0b29c;